<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <p>ログインしました</p>
      </section>
    </aside>
  </div>
  
<% else %>

<div class = "Top">
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <header class="navbar navbar-fixed-top">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "MiRecについて", "#", :style=>"color:white;" %></li>
        <li><%= link_to "ログイン", "#", :style=>"color:white;" %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "管理者", 'http://www.hirotsuru.sakura.ne.jp/portfolio/index.html', :style=>"color:white;", target: "_blank" %></li>
      </ul>
    </nav>
    <div class = "center_top">
    <h1>MiRec</h1>
    <%= link_to "はてなアカウントでログイン", user_hatena_omniauth_authorize_path, class: "btn btn-lg btn-primary" %>
    </div>  
  </header>
  
</div>
<% end %>