<h1><%= current_user.username %></h1>
<p><%= image_tag(current_user.image_url, :width => '60') %></p>
<p><%= @feature_word1 %></p>
<p><%= @feature_word2 %></p>
<p><%= @feature_word3 %></p>
<p><%= @feature_word4 %></p>
<p><%= @feature_word5 %></p>
<p><%= @feature_word6 %></p>
<p><%= @feature_word7 %></p>